
// Status Bar
// -------------------

// Located at the bottom.
// Displays information about the current editor.
// Overrides: atom/status-bar

.status-bar {
  font-size: @font-size;
  color: @text-color;
  border-top: 1px solid @base-border-color;
  background-color: @tree-view-background-color;
  height: 30px;
  line-height: 30px;
}
.status-bar-right > .inline-block {
    border-left: 1px solid @base-border-color;
    padding-left: 10px;
    margin-left: 5px;
}

.grammar-status > a {
    color: #9540af;
}
